@utility text-* {
    font-size: calc(--value(integer) * 1px);
}

@utility rounded-* {
    border-radius: calc(--value(integer) * 1px);
}

.hero-banner {
  @apply relative h-dvh p-15;
}

.hero-banner .hero-banner__inner {
  @apply relative h-full w-full overflow-hidden;
}

.hero-banner .hero-banner__bg {
  @apply absolute inset-0 pointer-events-none select-none;
}

.hero-banner .hero-banner__bg-img {
  @apply absolute inset-0 h-full w-full max-w-none object-cover object-bottom;
}

.hero-banner .hero-banner__bg-overlay {
  @apply absolute inset-0;
  

background: linear-gradient(180deg, rgba(121, 113, 101, 0.35) -1.96%, rgba(139, 97, 34, 0) 20.09%), 
linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), 
linear-gradient(0deg, rgba(120, 69, 14, 0.15), rgba(120, 69, 14, 0.15))
}

.hero-banner .hero-banner__card-group {
  @apply absolute inset-0 pointer-events-none;
}

.hero-banner .hero-banner__card {
  @apply absolute bg-off-white 1366:aspect-310/380 aspect-300/320 1366:w-310 425:w-300 w-230 left-1/2 425:top-1/2 top-[45%] -translate-1/2 shadow-image-card 425:border-15 border-10 border-off-white;
}

.hero-banner .hero-banner__card-img-wrap {
  @apply object-cover size-full overflow-hidden;
}

.hero-banner .hero-banner__card-img {
  @apply h-full w-full object-cover;
}

.hero-banner .hero-banner__content {
  @apply flex flex-col items-start 767:gap-20 gap-8 relative z-1 h-full justify-end 1366:pb-72 425:pt-40 1366:pl-50 425:pl-25 425:pb-50 375:p-20 p-15;
}
.hero-banner .hero-banner__content h1 {
  @apply capitalize;
}
.hero-banner .hero-banner__content .hero-banner__title-wrap {
  @apply 767:max-w-[62%];
}
.hero-banner .hero-banner__content .content {
  @apply max-w-550 text-left;
}

@media only screen and (max-height: 650px) {
  .hero-banner .hero-banner__content {
    @apply p-20 gap-16;
  }
  .hero-banner .hero-banner__card {
    @apply 767:w-250 border-10;
  }
}
@media only screen and  (max-width:767px) and (max-height: 800px)  {
  .hero-banner .hero-banner__card {
    @apply top-[45%] border-10 375:w-220 w-200;
  }
}
.full-image-text-inner {
  @apply flex items-stretch justify-between gap-15 max-767:flex-col-reverse;
}
.full-image-text-inner.image-right {
  @apply flex-row-reverse max-767:flex-col-reverse;
}
.full-image-text .full-image-text__image-column {
  @apply relative shrink-0 overflow-hidden flex-1 767:aspect-696/801 aspect-410/515 767:max-h-801;
}
.full-image-text .full-image-text__image {
  @apply size-full object-cover;
}
.full-image-text .full-image-text__image-wrapper {
  @apply size-full;
}
.full-image-text .full-image-text__content-bg-image {
  @apply absolute inset-0 size-full mix-blend-multiply ;
}
.full-image-text .full-image-text__content-column {
  @apply relative shrink-0 flex-1 767:aspect-696/801 aspect-410/515 767:max-h-801 overflow-hidden;
}
.full-image-text .full-image-text__description {
  @apply pl-2;
}
.full-image-text .align-center .full-image-text__content,
.full-image-text .align-center .full-image-text__heading-group,
.full-image-text .align-center p {
  @apply items-center text-center;
}
.full-image-text .align-center .full-image-text__description-wrapper {
  @apply mx-auto;
}
.full-image-text .align-right .full-image-text__description-wrapper {
  @apply ml-auto;
}
.full-image-text .align-right .full-image-text__content,
.full-image-text .align-right p ,
.full-image-text .align-right .full-image-text__heading-group {
  @apply items-end text-right;
}
.full-image-text .full-image-text__content {
  @apply flex flex-col items-start justify-center h-full 1199:p-92 992:p-52 p-25 gap-20 relative z-2;
}

.full-image-text .full-image-text__heading-group {
  @apply flex flex-col items-start w-full 767:gap-20 gap-20;
}

.full-image-text .full-image-text__description-wrapper {
  @apply w-full max-w-505;
}
.full-image-text .full-image-text__description-wrapper p {
  @apply 767:mb-40 mb-34 last:mb-0
}
.full-image-text .full-image-text__description-wrapper p a {
  @apply mb-12 last:mb-0;
}
.proprietor-quote .proprietor-quote__card-inner {
  @apply  max-w-958 relative mx-auto w-full px-49;
}
.proprietor-quote .proprietor-quote__card {
  @apply flex items-stretch shadow-image-card 767:p-15 px-22 py-21 relative min-h-443;
}

.proprietor-quote .proprietor-quote__stamp {
  @apply absolute z-10 pointer-events-none 1366:right-27 1366:top-27 right-21 top-21 1366:max-w-158 max-w-126;
}

.proprietor-quote .proprietor-quote__photo-col {
  @apply relative overflow-hidden max-767:hidden 1366:max-w-399 1366:min-h-527 max-1366:w-1/2;
}

.proprietor-quote .proprietor-quote__quote-col {
  @apply flex 767:items-start items-center max-767:justify-center max-767:max-w-267 max-767:mx-auto max-767:text-center flex-col flex-1 justify-center 767:px-45 767:py-20 767:gap-38 gap-20 767:ml-15 767:border-l border-sage-mist;
}
.proprietor-quote .proprietor-quote__names {
  @apply font-eaves text-rust text-18 tracking-5 max-767:text-14 leading-8 flex capitalize;
}

.about-us .about-us-inner {
  @apply flex items-stretch max-767:flex-col max-767:gap-50;
}

.about-us .about-us__content-col {
  @apply relative flex-1 1366:mr-40;
}
 
.about-us .about-us__content {
  @apply flex flex-col items-start justify-center h-full gap-20 relative 767:py-20 1366:pl-119 767:pl-50;
}

.about-us .about-us__heading-group {
  @apply flex flex-col items-start w-full 767:gap-20 gap-20;
}
.about-us .about-us__desc-wrapper {
  @apply w-full max-w-450;
}

.about-us .about-us__image-col {
  @apply relative overflow-hidden flex-1 767:aspect-594/582 aspect-370/361;
}
